
.account-stats{
    padding-top:10px;
    width: 50%;
    margin: auto;
}

.account-stats .stat{
    display: inline-block;
    text-align: center;
    width:19%;
}

.human-readable-number{
    font-size: 20px;
    line-height: 30px;
    /*margin-bottom:10px;*/
}

.stat-label{
    font-size: 11px; 
    text-transform: uppercase;
    color: #fff;
}

.dashboard{
    color:#666
}

.panel {
    background-color: #FFF;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(165,165,165,0.75);
    margin-bottom: 20px;
}

.dashboard .analytics-panel, .dashboard #active-users {
    margin-left: -15px;
}

.dashboard .analytics-panel>div, .dashboard #active-users>div {
    width: 25%;
    font-size: 13px;
}
.pull-left {
    float: left !important;
}

.text-center {
    text-align: center;
}
.pull-left {
    float: left;
}

.dashboard .analytics-panel>div, .dashboard #active-users>div {
    width: 25%;
    font-size: 13px;

}