<div class="hero background-sky header-block" style="">
    <div class="container" style="" >

        <div class="title" style="float:left;position: absolute;" >junjun16818</div>
        <div style="float:left;text-align:center;width:100%;margin-top:30px;position: relative;">
            <img src="/images/avatar.jpeg" width="50" height="50"alt="">
            <h1 style="margin-top:5px;font-size:17px;padding-top:5px;">北京光音网络全栈工程师</h1>
            
            <div style="float:right;position:absolute;right:10px;top:0px">
                <button class="btn btn-default btn-labeled fa fa-plus follow" style="">关注</button>
                <button class="btn btn-default btn-labeled fa fa-envelope follow" style="">私信</button>
            </div>
        </div>
        <div  style="float:left;width:100%">
            <div class="account-stats">
                <div class="stat ">
                    <div class="human-readable-number" title="0">0</div>
                    <span class="stat-label">威望</span>
                </div>

                <div class="stat ">
                    <div class="human-readable-number" title="120">120</div>
                    <span class="stat-label">帖子</span>
                </div>

                <div class="stat ">
                    <div class="human-readable-number" title="53">53</div>
                    <span class="stat-label">资料浏览</span>
                </div>

                <div class="stat ">
                    <div class="human-readable-number" title="0">32</div>
                    <span class="stat-label">粉丝</span>
                </div> 

                <div class="stat ">
                    <div class="human-readable-number" title="0">10</div>
                    <span class="stat-label">关注</span>
                </div> 

            </div>

        </div>
    </div>
</div>



<div class="container">
    
    <div class="col-md-8" style="padding-top:20px;padding-left:0px">
        

        <div class="panel panel-default "  style="">
            <div class="panel-body" style="padding: 15px 6px;">
                <ul class="nav nav-tabs" role="tablist" style="font-weight: bold;">
                    <li role="presentation" class="active"><a href="#dynamic" aria-controls="dynamic" role="tab" data-toggle="tab">动态</a></li>
                    <li role="presentation"><a href="#question" aria-controls="profile" role="tab" data-toggle="tab">提问</a></li>
                    <li role="presentation"><a href="#answer" aria-controls="messages" role="tab" data-toggle="tab">回答</a></li>
                    <li role="presentation"><a href="#note" aria-controls="settings" role="tab" data-toggle="tab">笔记</a></li>
                    <li role="presentation"><a href="#favorite" aria-controls="favorite" role="tab" data-toggle="tab">收藏</a></li>
                    <li role="presentation"><a href="#followed" aria-controls="followed" role="tab" data-toggle="tab">关注</a></li>
                    <li role="presentation"><a href="#fans" aria-controls="fans" role="tab" data-toggle="tab">粉丝</a></li>
                </ul>
                
                <div class="tab-content center" style="font-weight: 400;">
                    <div role="tabpanel" class="tab-pane  latest-panel active" id="dynamic">
                        <div class="timeline" style="margin:10px;">
                            <!-- Timeline header -->
                            <div class="timeline-header">
                                <div class="timeline-header-title bg-success">现在</div>
                            </div>
            
                            <div class="timeline-entry">
                                <div class="timeline-stat">
                                    <div class="timeline-icon bg-danger"><i class="fa fa-comment fa-lg"></i>
                                    </div>
                                    <div class="timeline-time">2小时前</div>
                                </div>
                                <div class="timeline-label">
                                    <p class="mar-no pad-btm">
                                        你回答了<a href="#" class="btn-link text-semibold">wenlai D.</a>的提问 <a href="#">ANGULAR2 如何实现页面刷新</a>
                                    </p>
                                    <blockquote class="bq-sm bq-open">
                                        页面刷新可以直接用js的方法
                                    location.reload()
                                    </blockquote>
                                </div>
                            </div>
                            <div class="timeline-entry">
                                <div class="timeline-stat">
                                    <div class="timeline-icon bg-danger"><i class="fa fa-commenting fa-lg"></i>
                                    </div>
                                    <div class="timeline-time">3 Hours ago</div>
                                </div>
                                <div class="timeline-label">
                                    <p class="mar-no pad-btm">
                                        <a href="#" class="btn-link text-semibold">wenlai D.</a> 评论了你的笔记 <a href="#">教程: Angular2 Http注册登录验证</a>
                                    </p>
                                    <blockquote class="bq-sm bq-open">angular2是如何保证数据同步的？</blockquote>
                                </div>
                            </div>
                            <div class="timeline-entry">
                                <div class="timeline-stat">
                                    <div class="timeline-icon bg-purple"><i class="fa fa-check fa-lg"></i>
                                    </div>
                                    <div class="timeline-time">5 Hours ago</div>
                                </div>
                                <div class="timeline-label">
                                    <img class="img-xs img-circle" src="images/av3.png" alt="Profile picture">
                                    <a href="#" class="btn-link text-semibold">wenlai</a> 关注了你.
                                </div>
                            </div>
            
                            <!-- Timeline header -->
                            <div class="timeline-header">
                                <div class="timeline-header-title bg-dark">昨天</div>
                            </div>
            
                            <div class="timeline-entry">
                                <div class="timeline-stat">
                                    <div class="timeline-icon bg-info"><i class="fa fa-envelope fa-lg"></i>
                                    </div>
                                    <div class="timeline-time">15:45</div>
                                </div>
                                <div class="timeline-label">
                                    <a href="#" class="btn-link text-semibold">wenlai D.</a> 给你发了一个私信
                                    <blockquote class="bq-sm bq-open">你好，我有一些问题想问你，可以加个微信吗？</blockquote>
                                </div>
                            </div>
                            <div class="timeline-entry">
                                <div class="timeline-stat">
                                    <div class="timeline-icon bg-success"><i class="fa fa-thumbs-up fa-lg"></i>
                                    </div>
                                    <div class="timeline-time">13:27</div>
                                </div>
                                <div class="timeline-label">
                                    <a href="#" class="btn-link text-semibold">wenlai</a> 赞了你的回答 <a href="#">ANGULAR2 如何实现页面刷新</a>
                                    <blockquote class="bq-sm bq-open">
                                        页面刷新可以直接用js的方法
                                    location.reload()
                                    </blockquote>
                                </div>
                            </div>
                            <div class="timeline-entry">
                                <div class="timeline-stat">
                                    <div class="timeline-icon"></div>
                                    <div class="timeline-time">11:27</div>
                                </div>
                                <div class="timeline-label">
                                    <p>
                                        你加入了zai.io社区，希望我们可以共同完善这个社区。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane  latest-panel" id="question">
                        <ul style="padding-left:10px">
                            <li *ngFor="let question of questions">
                                <a class="title">
                                    <i class="fa fa-question-circle topic-type-icon"></i>
                                    {{question.title}}
                                </a>
                                <div style="margin-top:5px;">
                                <span>回答: {{question.comments}}</span> <span>浏览: {{question.pv}}</span> <span>同问: {{question.favorites}}</span>
                                </div>
                                <div style="color:#337ab7;margin-top:5px;margin-bottom:5px;">
                                    {{ question.created | dateformat: 'yyyy-MM-dd hh:mm' }}
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane  latest-panel " id="answer">
                        <ul style="padding-left:10px">
                            <li *ngFor="let answer of answers">
                                <a class="title"><i class="fa fa-commenting topic-type-icon"></i> {{answer.title}}</a>
                                <div style="margin-top:5px;">
                                <span>赞同: {{answer.stars}}</span> <span>回复: {{answer.comments}}</span>
                                </div>
                                <div style="color:#337ab7;margin-top:5px;margin-bottom:5px;">
                                    {{ answer.created | dateformat: 'yyyy-MM-dd hh:mm' }}
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane  latest-panel " id="note">
                        <ul style="padding-left:10px">
                            <li *ngFor="let note of notes">
                                <a class="title"><i class="fa fa-book topic-type-icon"></i>{{note.title}}</a>
                                <div style="margin-top:5px;">
                                <span>评论: {{note.comments}}</span> <span>浏览: {{note.pv}}</span> <span>收藏: {{note.favorites}}</span>
                                </div>
                                <div style="color:#337ab7;margin-top:5px;margin-bottom:5px;">
                                    {{ note.created | dateformat: 'yyyy-MM-dd hh:mm' }}
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane  latest-panel " id="favorite">
                        <ul style="padding-left:10px">
                            <li *ngFor="let favorite of favorites">
                                <a class="title"><i class="fa fa-book topic-type-icon"> </i>{{favorite.title}}</a>
                                <div style="margin-top:5px;">
                                <span>浏览: {{favorite.pv}}</span> <span>收藏: {{favorite.favorites}}</span>
                                </div>
                                <div style="color:#337ab7;margin-top:5px;margin-bottom:5px;">
                                    {{ favorite.created | dateformat: 'yyyy-MM-dd hh:mm' }}
                                </div>
                            </li>
                            
                        </ul>
                    </div>

                    <div role="tabpanel" class="tab-pane  latest-panel " id="followed">
                        <div style="padding:10px;border-bottom:1px dotted #ccc;font-size:13px" *ngFor="let _follow of follow">
                            <a href="#" class="btn-link text-semibold">
                                <img class="img-xs img-circle" style="width:35px;height:35px;" [src]="_follow.avatar" alt="Profile picture">
                                &nbsp;&nbsp;{{_follow.username}}
                            </a> 
                            {{_follow.introduction}}
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane  latest-panel " id="fans">
                        <div style="padding:10px;border-bottom:1px dotted #ccc;font-size:13px" *ngFor="let fan of fans">
                            
                            <a href="#" class="btn-link text-semibold">
                                <img class="img-xs img-circle" style="width:35px;height:35px;" [src]="fan.avatar" alt="Profile picture">
                                &nbsp;&nbsp;{{fan.username}}
                            </a> 
                            {{fan.introduction}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4" style="padding-top:20px;padding-left:0px">
        <!--<div class="panel panel-default "  style="">
            <div class="panel-heading">我加入的社区</div>
            <div class="panel-body" style="padding: 0px 6px;">
                <div class="col-md-4 group-icon" *ngFor="let icon of group_list">
                    <img src="images/angular2.svg" alt="">
                    Angular2
                </div>
            </div>
        </div>-->

        <div class="panel panel-default "  style="">
            <div class="panel-heading">我的资产</div>
            <div class="panel-body" style="">
                <div class="col-md-12" style="text-align:center;">
                    <img style="width:100%" src="images/code.png" alt="">
                    <span style="font-size:25px;">100 RMB</span><br> 
                    <button class="btn btn-default btn-labeled fa fa-jpy follow" style="margin-top:5px;">提现</button>
                    <br>
                    <div><a style="font-size:13px;">如何赚取?</a></div>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>

        <div class="panel panel-default "  style="">
            <div class="panel-heading">赞助商</div>
            <div class="panel-body" style="padding: 0px 6px;">
                <div class="col-md-4 group-icon" *ngFor="let icon of group_list">
                    <img style="width:100%" src="images/goyoo.png" alt="">
                    <span>北京光音网络</span>
                </div>
            </div>
        </div>
    </div>
</div>
