.navbar-default{
    padding-left: 10px;
    background: rgb(25,118,210);
    border-radius: 0px;
    margin-bottom:0px;
    border:0px;
}
.navbar-nav > li > a {
    color:#fff; font-size:13px;
    padding-bottom: 0px;
    padding-top:17px;
}
.top-nav li a:hover {
    color:#639EFF
}
.navbar-brand{
    background: url(/images/logo.png) 0 8px no-repeat;
    background-size: 135px 36px;
    width: 140px;
    margin-left:10px
}

.navbar-form{
    margin-top: 10px;
}
.nav-button{
    cursor: pointer;
}

ul li.active-nav a {
    font-weight: 400;
    border-bottom: 4px solid #1976D2;
}


/* SEARCHBOX */
/*======================================*/
.searchbox {
  margin-right: -20px;
}
.searchbox button {
  border: 0;
  background: none;
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  font-size: 14px;
  z-index: 100;
}
.searchbox .custom-search-form {
  margin-right: -5px;
}
.searchbox .custom-search-form .input-group-btn {
  position: static;
}
.searchbox .custom-search-form .input-group-btn:before {
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  bottom: -1px;
  background-color: #00a3d9;
  z-index: 99;
  left: 50%;
  right: 50%;
  -webkit-transition: left 0.3s, right 0.3s;
  transition: left 0.3s, right 0.3s;
}
.searchbox .custom-search-form input {
  background-color: transparent;
  border-color: transparent;
  padding-right: 30px;
  background: #fff;
  height: 30px;
  
}
.searchbox > .input-group.custom-search-form input {
  border-radius: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.searchbox > .input-group input:focus ~ .input-group-btn:before {
  content: "";
  left: 0;
  right: 25px;
  -webkit-transition: left 0.3s, right 0.3s;
  transition: left 0.3s, right 0.3s;
}

#user-icon:focus{
  background-color: transparent
}
#user-icon{
  background-color: transparent
}

.dropdown-menu .fa{
  margin-right: 8px;font-size: 12px;
}